*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.leftbar
{
    background-color: black;
    position: fixed;
    width: 20%;
 
    opacity: 0.88;
    margin-left: -300px;
    transition: 0.4s;
}
.leftbar header
{
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(4, 4, 48);
}
.leftbar ul 
{
    text-align: center;
}
.leftbar ul li
{
    
    padding-bottom: 44px;
    border-top: 1px solid rgb(113, 113, 204);
    border-bottom: 1px solid rgb(113, 113, 204);
    padding-top: 20px;
    text-align: center;
    color: white;
}
.leftbar ul li a
{
    color: white;
    cursor: pointer;
    transition: 0.5s ;
    font-size: 30px;
}
.leftbar ul li a i
{
    color: white;
}
.leftbar ul li:hover a
{
    padding-left: 50px;
}
#check
{
    display: none;
}
label #btn , label #cancel
{
    position: absolute;
    cursor: pointer;

}
label #btn
{
    margin-left: 100px;
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    background: transparent;
    transition: all .5s;
}
label #cancel
{
    z-index: 1111;
    margin-left: -300px;
   color: white;
    cursor: pointer;
    transition: all .7s ease;
}

#check:checked ~ .leftbar
{
    margin-left:0;
}
#check:checked ~ label #btn
{
    margin-left: 250;
    opacity: 0;
    pointer-events: none;
}
section
{
    background: url(1111.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}
#check:checked ~ label #cancel
{
    margin-left: 240px;
}

section .tot
{
    margin-top: 200px;
    margin-left: 400px;
    width: 80%;
}
section .tot th
{
    background-color: #B2BEB5;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    opacity: 0.88;
}
section .tot td
{
    background-color: #d8deda ;
    margin: 10px;
    padding: 10px;
    padding-bottom: -10;
    border-radius: 3px;
    opacity: 0.88;
}
.tot a
{
    background-color:#d8deda ;
    padding: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 2px ;
    opacity: 0.8;
    cursor: pointer;
}
.tot .btn:hover a 
{
   border:2px solid #575a58 ;
   font-size: 20px;
}
section .user
{
    margin-top: 100px;
    margin-left: -1000px;
}
section .user th
{
    background-color: #B2BEB5;
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
    opacity: 0.88;
}
section .user td
{
    background-color: #d8deda ;
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
    opacity: 0.88;
}
